#First
{
    img
    {
        zoom: 2;

        margin: .1rem 0;

        &:hover
        {
            opacity: .9;
        }
    }

    .image-text-frame
    {
        position: relative;

        .image-text
        {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            padding: .8em;

            background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(62,20,13,0) 50%, rgba(0,0,0,1) 100%);

            h4
            {
                display: inline-block;

                margin-bottom: 1rem;
            }
            h4,
            div,
            {
                text-shadow: 1px 1px 2px #333;
            }
            div.image-thumb-text
            {
                padding: 0 .1rem;
            }
        }
    }
}
