$button-active: #57696d;

#Second
{
    .product
    {
        color: $primary;
        .price-range
        {
            margin: 1.25rem 0;

            color: $featured;
        }
        .input-qty
        {
            width: 40px;
            height: 30px;

            color: $primary;
            border: 0;
            border-radius: 2px;
        }
        .option-select
        {
            display: inline-block;
            button
            {
                line-height: 1.25rem;

                margin: .1rem;
                padding: .2rem .5rem;

                cursor: pointer;
                text-transform: uppercase;

                color: $secondary;
                border: 2px solid $secondary;

                &:hover
                {
                    border-color: $button-active;
                }
            }
            .active
            {
                color: $button-active;
                border-color: $button-active;
            }
        }
        .cart-submit
        {
            cursor: pointer;

            background-color: $featured;

            &:hover
            {
                background-color: #5d839b;
            }
        }
        .product-error
        {
            margin: 1rem 0 0;

            background-color: $error;
            h5
            {
                line-height: 2rem;

                margin: 0;
            }
        }
        .quantity
        {
            margin: 1rem 0;
        }
        .submission
        {
            margin: 1rem 0;
        }
    }

    .thumbs img
    {
        cursor: pointer;

        &:first-child
        {
            margin: 0 .1rem .3rem;
        }
    }

    .favorite-social
    {
        button
        {
            margin: 0 .5rem;
            padding: .5rem;

            cursor: pointer;
            transition: opacity .5s;
            text-transform: uppercase;
        }

        .love
        {
            color: $love;
            border: 2px solid $love;
        }
        .save
        {
            color: $save;
            border: 2px solid $save;
        }
        .love:hover,
        .save:hover
        {
            opacity: .75;
        }
        .share
        {
            color: #909090;
            border: 2px solid $share;
            background-color: $share;

            &:hover
            {
                color: #949494;
            }
        }
    }
}
