/* Modify Bootstrap breakpoints */
$grid-breakpoints: (
  sm: 500px,
  md: 768px,
  lg: 1120px
);

$container-max-widths: (
  sm: 500px,
  md: 720px,
  lg: 1120px
);

$grid-gutter-width-base: 5px !default;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~bootstrap/scss/bootstrap.scss';

@import 'partials/first';

body
{
    font-family: 'Montserrat', sans-serif;
}
