/* Modify Bootstrap breakpoints */
$grid-breakpoints: (
  sm: 500px,
  md: 768px,
  lg: 1120px
);

$container-max-widths: (
  sm: 460px,
  md: 768px,
  lg: 1120px
);

$text-muted: #999;

$grid-gutter-width-base: 5px !default;

// Import font and framework
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~bootstrap/scss/bootstrap.scss';

// Import route styles
@import 'partials/first';
@import 'partials/second';
@import 'partials/utility';

// On to the good stuff
body
{
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
}
